name: Build for Windows arm64

on:
  workflow_call:
    inputs:
      tag:
        description: "tag"
        required: false
        default: ""
        type: string
  workflow_dispatch:

jobs:
  build-windows-app:
    name: Release Windows arm64
    runs-on: windows-11-arm
    steps:
      - name: Install Vulkan SDK (for vulkan runtime 'vulkan-1.dll' and SwiftShader 'vk_swiftshader.dll')
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          install_runtime_only: true
          install_swiftshader: true

      - name: Check Vulkan SDK
        run: |
          tree C:\VulkanSDK /f
          tree C:\swiftshader /f
